*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#c1c1c1;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #519bd4;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #514c4c,
                      5px 5px 12px rgba(7, 1, 1, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #edeaf1;
    box-shadow:inset -5px -5px 12px #4f4e4e,
               inset -5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
.calculator .cornerbtn{
    background-color:rgb(255, 187, 69);
}
button{
    cursor: pointer;
    height: 48px;
    width: 48px;
    background-color: #bec0c2;
    box-shadow: -5px -5px 12px #3c3b3d,
                 5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: indianred;
    box-shadow: -5px -5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.1.6);
}
